#footer .list-group-item{
    background-color: transparent;
}
#footer a{
    text-decoration: none;
    color: var(--secondary);
}
#footer a:hover{
    color: var(--primary);
}
.border-primary{
    border-color: var(--primary) !important;
}