<footer id="footer" class="d-flex flex-column flex-md-row align-items-center pt-5 justify-content-around border-top border-primary text-center pb-md-5">
    <section id="footer__help">
        <h3>Ayuda</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">Uso del producto</a></li>
            <li class="list-group-item"><a href="#">Preguntas frecuentes</a></li>
            <li class="list-group-item"><a href="#">Cuestiones</a></li>
            <li class="list-group-item"><a href="#">Foro</a></li>
        </ul>
    </section>
    <section id="footer__us">
        <h3>Nosotros</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">Jobs</a></li>
            <li class="list-group-item"><a href="#">Sobre nosotros</a></li>
            <li class="list-group-item"><a href="#">Uso de nuestra marca</a></li>
            <li class="list-group-item"><a href="#">Conctacto</a></li>
        </ul>
    </section>
    <section id="footer__legal">
        <h3>Legal</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="#">Contacto legal</a></li>
            <li class="list-group-item"><a href="#">Marca registrada</a></li>
            <li class="list-group-item"><a href="#">Privacidad</a></li>
            <li class="list-group-item"><a href="#">Seguridad y cookies</a></li>
        </ul>
    </section>
</footer>